body {
  background: rgb(91, 91, 91);
  background: radial-gradient(circle, rgba(91, 91, 91, 1) 0%, rgba(38, 38, 38, 1) 100%);
  color: white;
  margin-bottom: 2em;
}

text {
  fill: white
}

.title {
  height: 100px;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
  /* background: #f8f9fa; */
  /* Light gray background */
}

#main-container {
  min-height: calc(100vh - 100px);
}

.chart {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 5px;
  height: calc(50% - 5px);
  /* Adjust height for spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
/* 
  background-color: rgb(67, 55, 55);
   */
   background-color: rgb(90, 79, 79);
  border-radius: 10px;
  box-shadow: 4px 3px 10px 4px rgb(47, 47, 47);
}

#slider-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  /* Height of slider */
}

#chart-3-container {
  height: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#tooltip {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.75em;
  max-width: min-content;
}

#tooltip>* {
  margin: 0;
}

#tooltip p {
  margin: 0;
}

.draggable {
  cursor: move;
}